.gradle/
gradle-local.properties
build/
**/build/
bin/
**/bin/
out/
*.log
logs/
*.war
*.jar
*.class
*.h2.db
*.mv.db
*.trace.db
.idea/
.vscode/
.DS_Store
upload-data/
data/nsight-txlog/
**/data/updownload/
sv-service/data/
tcf-om/data/
ztomcat/apache-tomcat-10.1.34/
ztomcat/_war_bak/
ztomcat/data/
ztomcat/run/
node_modules
